{%extends "admin_base.html"%}

{% block content %}
<div id="right-panel" class="right-panel">
    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-9">

                    <div class="card">

                        {% if location %}
                        <form id="deleteForm" action="/admin/delete" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="table" value="location">
                            <input type="hidden" name="id" value="{{location.id}}">
                        </form>
                        {% endif %}

                        {% if location %}
                        <div class="card-header">
                            <strong>당첨 판매점 정보 수정 ({{location.name}})</strong>
                        </div>
                        {% else %}
                        <div class="card-header">
                            <strong>당첨 판매점 정보 추가</strong>
                        </div>
                        {% endif %}

                        <form id="createForm" action="/admin/create_location" method="post" class="form-horizontal">

                            {% csrf_token %}
                            {% if location %}
                            <input type="hidden" name='id' value="{{location.id}}">
                            <input type="hidden" name='action' value="update">
                            {% else %}
                            <input type="hidden" name='action' value="create">
                            {% endif %}

                            <div class="card-body card-block">

                                <div class="row form-group">
                                    <div class="col col-md-2"><label class=" form-control-label">회차</label>
                                    </div>
                                    <div class="col-12 col-md-2">
                                        
                                        <select class="form-control" name="round" value="{{location.lotto.round}}">
                                            {% for my_lotto in lotto_list %}
                                            <option value="{{my_lotto.round}}"
                                                {% if location.lotto.round == my_lotto.round %} selected {% endif %}>
                                                {{my_lotto.round}}회차
                                            </option>
                                            {% endfor %}
                                        </select>

                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col col-md-2"><label class=" form-control-label">등수</label></div>
                                    <div class="col-12 col-md-2">
                                        <input type="number" name="rank" class="form-control" value="{{location.rank}}"
                                            required>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col col-md-2"><label class=" form-control-label">상호명</label></div>
                                    <div class="col-12 col-md-2">
                                        <input type="text" name="name" class="form-control" value="{{location.name}}"
                                            required>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col col-md-2"><label class=" form-control-label">구분</label></div>
                                    <div class="col-12 col-md-2">
                                        <input type="text" name="type" class="form-control" value="{{location.type}}"
                                            required>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col col-md-2"><label class=" form-control-label">주소</label></div>
                                    <div class="col-12 col-md-2">
                                        <input type="text" name="address" class="form-control"
                                            value="{{location.address}}" required>
                                    </div>
                                </div>



                            </div>
                        </form>

                        <!-- footer -->
                        <div class="card-footer" style="text-align: right;">
                            {% if location %}
                            <button type="submit" class="btn btn-outline-primary btn-sm" form="createForm">
                                수정하기
                            </button>
                            <button type="submit" class="btn btn-outline-danger btn-sm" form="deleteForm">
                                삭제하기
                            </button>
                            {% else %}
                            <button type="submit" class="btn btn-outline-primary btn-sm" form="createForm">
                                추가하기
                            </button>
                            {% endif %}
                        </div>

                    </div>

                </div>


            </div>
        </div>
    </div>

    {% endblock content %}