{%extends "admin_base.html"%}

{% block content %}
<div id="right-panel" class="right-panel">
    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-6">

                    <div class="card">

                        {% if function == "update" %}
                        <form id="deleteForm" action="/admin/delete" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="table" value="room">
                            <input type="hidden" name="id" value="{{item.id}}">
                        </form>
                        {% endif %}

                        <form id="productCreateForm" action="/admin/create" method="post" enctype="multipart/form-data"
                            class="form-horizontal">

                            {% csrf_token %}
                            <input type="hidden" name='table' value="room">

                            {% if function == "create" %}
                            <input type="hidden" name='type_id' value="{{type.id}}">
                            <input type="hidden" name='action' value="create">
                            {% elif function == "update" %}
                            <input type="hidden" name='action' value="update">
                            <input type="hidden" name='id' value="{{item.id}}">
                            {% endif %}

                            <div class="card-header">
                                {% if function == 'create' %}
                                <strong>{{type.name}} 타입 객실 추가</strong>
                                {% elif function == 'update' %}
                                <strong>객실 {{item.name}} ({{item.type.name}} 타입) </strong>
                                {% endif %}
                            </div>

                            <div class="card-body card-block">

                                {% if function == 'update' %}
                                <!-- type -->
                                <div class="row form-group">
                                    <div class="col col-md-3"><label class=" form-control-label">객실 타입</label></div>
                                    <div class="col-12 col-md-9">
                                        <select name="type_id" class="form-control">
                                            {% for type in type_list %}
                                            {% if item.type.id == type.id %}
                                            <option value="{{type.id}}" selected>{{type.name}}</option>
                                            {% else %}
                                            <option value="{{type.id}}">{{type.name}}</option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                {% endif %}


                                <div class="row form-group">
                                    <div class="col col-md-3"><label class=" form-control-label">튜터 수</label></div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" name="name" class="form-control" value="{{item.tutor}}"
                                            required>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col col-md-3"><label class=" form-control-label">누적시간</label></div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" name="name" class="form-control" value="{{item.time}}"
                                            required>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col col-md-3"><label class=" form-control-label">연장률</label></div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" name="name" class="form-control" value="{{item.extend}}"
                                            required>
                                    </div>
                                </div>

                            </div>

                            <!-- footer -->
                            <div class="card-footer" style="text-align: right;">
                                <button type="submit" class="btn btn-outline-primary btn-sm" form="productCreateForm">
                                    수정하기
                                </button>
                            </div>

                        </form>
                    </div>

                </div>


            </div>
        </div>
    </div>

    {% endblock content %}